body{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}
a{
    color: #fff;
    text-decoration: none;
}
.container{
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;

}
.container-big{
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}
@media(min-width:1400px){
    .container{
        width: 1320px;
    }
}
@media(min-width:1200px){
    .container{
        width: 1140px;
    }
}
@media(min-width:992px){
    .container{
        width: 960px;
    }
}
@media(min-width:768px){
    .container{
        width: 720px;
    }
}
@media(min-width:576px){
    .container{
        width: 540px;
    }
    .container-big{
        width: 80vw;
    }
}
@media(max-width:576px){
    .container{
        width: 100%;
    }
    .container-big{
        width: 100vw;
    }
}

.d-flex{
    display: flex !important;
}

/* начало */
.header{
    position: absolute;
    width: 100%;
    min-height: 100px;
    justify-content: end;
    background-color: rgba(32, 32, 32, 0.5);;
}
#particles-js{
    height: 50vh;
}
.start{
    text-align: center;
    background-color: #000;
    color: #fff;
}
.navigation{
    justify-content: space-around;
    display: flex;
    padding: 5%;
}
.navigation li{
    list-style-type: none;
}
.navContainer{
    float: right;
}
.about{
    display: inline-block;
}